apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-results-deployment
  labels:
    app: results-endpoint
spec:
  replicas: 2
  selector:
    matchLabels:
      app: results-endpoint
  template:
    metadata:
      labels:
        app: results-endpoint
{{ if .Values.useIstio }}
      annotations:
        sidecar.istio.io/rewriteAppHTTPProbers: "false"      
{{ end }}
    spec:
      containers:
      - name: endpoint
        image: {{ .Values.resultsImage }}
        volumeMounts:
        - name: config
          mountPath: "/app/config" 
        - name: secrets
          mountPath: "/app/secrets" 
        ports:
        - containerPort: 3000
        livenessProbe:
          httpGet:
            path: /live
            port: 3000
        readinessProbe:
          httpGet:
            path: /ready
            port: 3000
      volumes:
      - name: secrets
        secret:
          secretName: {{ .Release.Name }}-results-secret
          items:
          - key: secrets.json
            path: secrets.json
      - name: config
        configMap:
          name: {{ .Release.Name }}-results-config
          items:
          - key: config.json
            path: config.json

